.content{
    position: absolute !important;
    top: 70px;
    padding: 5% 10%;

    .plabel {
        line-height: 1.2vw !important;
        text-align: right;
    }

    input, textarea {
        width: 100%;
    }

    label.required:before {
        content: '*';
        color: red;
    }

    .right-float {
        float: right;        
    }
    
}